@use '_values/colors';
@use '_utils';
@use '_values';

.container {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    max-width: values.$sizing-popup-width;
    flex-grow: 1;
    max-height: values.$sizing-popup-height;
    width: 100%;
    padding: 12px 40px 40px;
}

.mnemonic {
    border: 1px solid #7e7e7e;
    border-radius: 10px;
    display: grid;
    height: 148px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    margin-bottom: 12px;
    padding: 0 14px;
}

.ph-wrapper {
    align-items: center;
    display: flex;
    font-size: 13px;
    flex-direction: row;
}

.ph-index {
    color: #c8c8c8;
    flex-shrink: 0;
    width: 24px;
}

.ph {
    overflow: hidden;
    padding-right: 4px;
    text-overflow: ellipsis;
}
