.create {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
}

.logo {
  align-self: flex-start;
  height: 55px;
  margin-bottom: 22px;
}

.logoText {
  align-self: flex-start;
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 11px;
}

.desc {
  align-self: flex-start;
  color: #929294;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 30px;
}
